@charset "UTF-8";

.thumbs_wrapper{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 60px 0 0 200px;
	padding: 20px 0 0 10px;
}

.thumbs_item{
	/*한줄 4개  */
	width: 25%;
	margin: 0 0 15px 0;
	padding: 0 10px;
}

.thumbs_img{
	max-width: 100%;
	margin: 0 0 10px 0;
}
.thumbs_info{
	display: flex;
}
.thumbs_profile{
	width: 40px;
	height: 40px;
	background-image: url(profile-m.png);
	background-size: 40px 40px;
}

.thumbs_text{
	padding-left: 10px;
}

.thumbs_title{
	font-size: 1.2rem;
	margin-bottom: 0.5em;
}

.thumbs_owner{
	font-size: 1.0rem;
	margin-bottom: 0.5em;
}
.thumbs_anal{
	font-size: 0.8rem;
}

/* 1200px 이하이면 로고가 없어진다. */
@media screen and (max-width:1200px){
	 .thumbs_item{width:33%;}
}
/* 800px 이하이면  */
@media screen and (max-width:800px){
	/* nav가 작어져서(200px-50px) */
	.thumbs_wrapper{margin: 80px 0 0 50px;}
	.thumbs_item{width: 50%}
}

/* 460x 이하이면 로고가 없어진다. */
@media screen and (max-width:460px){
	.thumbs_item{width: 100%}
}




